# Telegram Bot Configuration
BOT_TOKEN=8458286417:AAFJJSobOlZ_E3QPsx8bdCBqJuQEgjMvK7E

# Supabase Configuration
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_key_here

# S3 Configuration (for video storage)
S3_ENDPOINT=https://s3.nevaobjects.id
S3_ACCESS_KEY=KC3VYX02LN7WIYJGURIN
S3_SECRET_KEY=FUXY0Oj6R7CR0GOZAOE4zUnID1Eri0vGeISnnfGb

# Saweria Webhook Configuration
SAWERIA_SECRET=your_saweria_webhook_secret
PORT=5000